/*style.css*/
body {
    background-color: #323232;
}



#header {
	
	font-family: "Brush Script MT";
	font-size: 64px;
	color: white;
	text-align: center;
}
div{
	border: 2px;
	margin: 2px;
	padding: 2px;
}

div.scrollmenu {
    background-color: #444444;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
	
}
a {
	font-family: "Goudy Old Style";
	font-size: 22px;	
}

#name, #description, #text {
	 text-align: center;
    font-family: "Goudy Old Style";
	color: white;
	
	
}

#description {
	font-size: 20px;
	
}

footer {
	color: white;
    background-color: #444444;
    clear: left;
    text-align: center;
}
